@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    box-shadow: 0px 0px 10px black;
    position: fixed;
    top: 0;
}
.navbar ul{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.navbar ul li{
    display: inline;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Athiti', sans-serif;
}
.navbar a:hover{
    color:cornflowerblue;
}
.navbar a:active{
    color:rgb(0, 27, 79);
}
.mainhead{
    margin-top: 100px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Athiti', sans-serif;
}

.firstproject{
    /* border: solid; */
    margin: 40px;
}

/* inside */
.firstproject h1{
    text-align: center;
    font-family: 'Athiti', sans-serif;
    margin: 20px;
    font-size: 1.5rem;
}

.picnsc{
    text-align: center;
    margin: 40px;
}
.picnsc img{
    width: 80%;
    box-shadow: 0px 0px 10px;
}

.nscbio{
    margin: 20px auto;
}

.nscbio h1{
    font-family: 'Athiti', sans-serif;
    font-size: 1.5rem;
}
.nscbio p{
    font-family: 'Athiti', sans-serif;
    text-align: center;
    font-size: 1.3rem;   
}

.video h1{
    font-family: 'Athiti', sans-serif;
    font-size: 1.5rem;
}
.golink{
    text-align:center ;
    
}
.golink a{
    font-size: 3rem;
    color: red;
    
}
.golink a:hover{
    color: gray;
}
.golink a:active{
    color: brown;
}
hr {
    border-top: 2px solid;
    width: 50%;
    margin: 30px auto;
}
/* -------EQ15------- */
.clearfix{
    clear: both;
}

.EQ15{
    margin: 0px;
    text-align: center;
}
.EQ15 h1{
    text-align: center;
    font-family: 'Athiti', sans-serif;
    margin: 40px;
    font-size: 1.5rem;
}
.cropeq15{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    margin: 40px;
}
.piceq1 img{
    width: 100%;
    box-shadow: 0px 0px 10px;   
}
.piceq2 img{
    width: 100%;
    box-shadow: 0px 0px 10px;
}


